  <!-- securité On demande si il ya bien l'API -->
{{ with .Site.Params.staticman.api }}
<div class="classe-commentaire">
  

  <!-- après l'envoi d'un commentaire, on remercie l'utilisateur. -->
<aside aria-label="note" class="note">
    <section id="comment-thankyou" style="display: none; margin-left: 5px"> 
        Merci pour le commentaire ! Il apparaîtra après la construction (quelques secondes).
    </section>
</aside>

<script type="application/javascript">
    if (/comment-thankyou/.test(window.location.href)) {
        document.getElementById('comment-thankyou').style.display = 'block';
    }else{
        document.getElementById('comment-thankyou').style.display = 'none';
    }
</script>

<!-- Bouton pour ouvrir l'espace commentaire -->
<button title="Ouvrir espace commentaire" id="staticman-button" onclick="showComments()">Espace commentaire</button>

<!-- Section qui permet l'affichage et la lecture des commenaites -->
<section id="staticman-comments" class="js-comments staticman-comments">

  <noscript>Activez javascript pour lire les commentaires.</noscript>

    <!-- {{ $slug := replace $.RelPermalink "/" "-" }}  -->
    {{ $slug := replace $.File.Path "/" "-" }}

    {{ if $.Site.Data.comments }}
      {{ $comments := index $.Site.Data.comments $slug }}
  <!-- Affichage du nombre de commentaires 
      {{ if $comments }}
        {{ if gt (len $comments) 1  }}
          <h3>{{ len $comments  }} commentaires</h3>
        {{ else }}
          <h3>{{ len $comments  }} commentaire</h3>
        {{ end }}
      {{ else }}
        <h3>No comments</h3>
      {{ end }}
  Fin de l'affichage du nombre de commentaires -->
  
      {{ $.Scratch.Set "hasComments" 0 }}
      {{ range $index, $comments := (index $.Site.Data.comments $slug ) }}
        {{ if not .parent }}
          {{ $.Scratch.Add "hasComments" 1 }}
          <article id="comment-{{ $.Scratch.Get "hasComments" }}" class="static-comment">
            <div class="comment-author">
                <strong>{{ .name }}</strong>
            </div>
            <div class="comment-timestamp">
                <a href="#comment-{{ $.Scratch.Get "hasComments" }}" title="Lien vers ce commentaire">
                    <time datetime="{{ .date }}">{{ dateFormat "2 Jan 2006 15:04 MST" .date}}</time>
                </a>
            </div>
            <div class="comment-content"><p>{{ .comment | markdownify }}</p></div>
          </article>
        {{ end }}
      {{ end }}
    {{ end }}
  
  
  <!-- Formulaire pour écrire un commentaire -->
<form class="js-form form" method="post" action="{{ $.Site.Params.staticman.api }}" onsubmit="return checkForm(this);">
  <fieldset>
      <input type="hidden" name="options[redirect]" value="{{ $.RelPermalink | absURL }}#comment-thankyou">
      <input type="hidden" name="options[slug]" value="{{ replace $.File.Path "/" "-" }}">
      <input type="hidden" name="options[parent]" value="">
      <label for="fields[name]">Pseudonyme:</label>
      <input name="fields[name]" id="yourname" type="text" placeholder="Votre pseudonyme" required/>
      <label for="fields[comment]">Commentaire:</label>
      <textarea name="fields[comment]" id="yourcomment" placeholder="A quoi pensez vous ?" required></textarea>
      <output id="warningComment">En cliquant sur envoyer vous acceptez la <a class="" href="https://subversive.eu/chartedepublication.txt">Charte de publication</a></output>
      
      <button title="Envoyer le commentaire" class="button" id="submitButton" >Envoyer</button>
  </fieldset>
</form>

<!-- 
        <input class="jCaptcha" type="text" name="fields[captcha]" id="youarenotarobot" placeholder="Tapez le résultat s’il vous plaît" >
        <input class="jCaptcha" type="text" placeholder="Tapez le résultat s’il vous plaît" required>
      <button title="Envoyer le commentaire" class="button" id="submitButton" type="submit">Envoyer</button>

  -->



</section>

  <!-- Fin class-commentaire -->
</div>
  <!-- Fin sécurité -->
{{ end }}