<section class="post-comments">
  <h3>Commentaires</h3>

  {{ $comments := readDir "data/comments" }}
  {{ $.Scratch.Add "hasComments" 0 }}
  {{ $entryId := .File.UniqueID }}

  {{ range $comments }}
    {{ if eq .Name $entryId }}
      {{ $.Scratch.Add "hasComments" 1 }}
      {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
        <div class="post-comment">
          <div class="post-comment-header">
            <img class="post-comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=100">
            <p class="post-comment-info"><strong>{{ .name }}</strong><br>{{ dateFormat "02/01/2006" .date }}</p>
          </div>
          {{ .body | markdownify }}
        </div>
      {{ end }}       
    {{ end }}
  {{ end }}

  {{ if eq ($.Scratch.Get "hasComments") 0 }}
    <p>Aucun commentaire</p>
  {{ end }}

  <h3>Dites quelque chose</h3>

  <form class="post-new-comment" method="POST" action="https://subversive.herokuapp.com/v2/entry/subversive-eu/site/master/comments">
  <!--form class="post-new-comment" method="POST" action="http://localhost:8055/v2/entry/eduardoboucas/staticman-test/master/comments"-->
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
    <input type="hidden" name="options[entryId]" value="{{ .File.UniqueID }}">
    <input name="fields[name]" type="text" class="post-comment-field" placeholder="Pseudonyme (requis)" required>
    <input name="fields[url]" type="text" class="post-comment-field" placeholder="Site web (optionnel)">
    <input name="fields[email]" type="email" class="post-comment-field" placeholder="adresse mail (optionnel)">
    <textarea name="fields[body]" class="post-comment-field" placeholder="Commentaire, vous pouvez utiliser le Markdown." rows="10" required></textarea>
    <input type="submit" class="post-comment-field btn" value="Submit">
  </form>
</section>

<div id="comment-submitted" class="dialog">
<h3>Merci</h3>
  <p>Le commentaire est envoyé. Il sera publié après modération.Your comment has been submitted and will be published once it has been approved.</p>
  <p>cliquez ce lien pour voir <a href="https://github.com/subversive-eu/site/pulls">la requête générée</a>.</p>
  
  <p><a href="#" class="btn">OK</a></p>
</div>
<div class="read-comments 2">
  
  {{ $comments := readDir "data/comments" }}
  {{ $.Scratch.Add "hasComments" 0 }}
  {{ $entryId := .File.UniqueID }}

  {{ range $comments }}
    {{ if eq .Name $entryId }}
      {{ $.Scratch.Add "hasComments" 1 }}
      {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
<blockquote>
  <p>{{ .body | markdownify }}</p>
  <cite>
    <img src="https://www.gravatar.com/avatar/{{ .email }}?s=100">
    <strong>{{ .name }}</strong><br>{{ dateFormat "02/01/2006" .date }}  
</cite>
</blockquote>
      {{ end }}       
    {{ end }}
  {{ end }}

  {{ if eq ($.Scratch.Get "hasComments") 0 }}
    <p>Hey, be the first who comment this article.</p>
  {{ end }}
</div>
