{{- with .cxt}} {{/* Apply proper context from dict */}}

{{/* VARIABLES */}}
{{- $alt := (.Params.cover.alt | plainify) }}
{{- $addLink := (and .Site.Params.cover.linkFullImages (not $.IsHome)) }}
{{- $cover := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Params.cover.image)) }}

<figure class="entry-cover">

{{- if $addLink }}
<a title="{{ $alt }}" rel="noopener noreferrer" href="{{ (.Params.cover.image) | absURL }}" target="_blank">
{{ end -}}

<img src="{{ (.Params.cover.image) | absURL }}" alt="{{ $alt }}">

{{- if $addLink }}</a>{{ end -}}

{{/*  Display Caption  */}}
{{- if not $.IsHome }}
{{ with .Params.cover.caption }}<p class="cover-caption">{{ . | markdownify }}</p>{{- end }}
{{- end }}

</figure>

{{- end -}}{{/* End context */}}
