<footer class="footer">
    {{- if .Site.Copyright }}
    <span>{{ .Site.Copyright | markdownify }}</span>
    {{- else }}
    <span>&copy; {{ now.Year }} <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a></span>
    {{- end }}
    <span>&middot;</span>
    <span><a href="https://creativecommons.org/licenses/by-nc/4.0/deed.fr" rel="noopener noreferrer" target="_blank">License</a>️</span>
    
</footer>
<a href="#top" aria-label="go to top" title="Go to Top">
    <button class="top-link" id="top-link" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
            <path d="M12 6H0l6-6z" /></svg>
    </button>
</a>
{{- partial "extend_footer.html" . -}}
{{ if in site.Params.mainSections .Type }}
{{- $highlight := slice (resources.Get "js/highlight.min.js") | resources.Concat "assets/js/highlight.js" | minify | fingerprint -}}
<script src="{{ $highlight.Permalink }}" integrity="{{ $highlight.Data.Integrity }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{- end }}

  <!-- All scripts at the end of the page -->
  {{ $js := resources.Get "js/script.js" }}
  {{ $scriptsheet := $js | resources.Minify }}
  <script src="{{ $scriptsheet.Permalink }}" rel="stylesheet" as="style"></script>