<!--  le pied de page -->
<footer class="footer">
    <span>&copy; {{ now.Year }} <a Title="Retour vers la page d'accueil" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a></span>
</footer>

<!-- le bouton retour haut de page -->
<button aria-label="Retour en haut de la page" class="top-link" id="top-link" type="button" name="Haut de page" >
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
  <polyline points="18 15 12 9 6 15" /></svg>
</button>

<!--Tous les SCRIPTS en bas de toutes les pages-->

<!--button change theme-->
{{- if (not .Site.Params.disableThemeToggle) }}
<script>
document.getElementById("theme-toggle").addEventListener("click", () => {
if (document.body.className.includes("dark")) {
document.body.classList.remove('dark');
localStorage.setItem("pref-theme", 'light');
} else {
document.body.classList.add('dark');
localStorage.setItem("pref-theme", 'dark');
}
})
</script>
{{- end }}

<!-- fichier script.js minifié et fingerprinté -> script commun à toutes les pages-->
{{ $js := resources.Get "js/script.js" }}
{{ $SecureJS := $js | resources.Minify | fingerprint }}
<script rel="preload" async src="{{ $SecureJS.Permalink }}" integrity="{{ $SecureJS.Data.Integrity }}"></script>

{{ if .Site.Params.enableSearch }}

  {{ $search := resources.Get "js/fixedsearch.js" }}
  {{ $SecureSearchJS := $search | resources.Minify | fingerprint }}
  <script rel="preload" async src="{{ $SecureSearchJS.Permalink }}" integrity="{{ $SecureSearchJS.Data.Integrity }}"></script>

  <!-- fuse.io -->
  {{ $fuse := resources.Get "js/fuse.js" }}
  {{ $FuseJS := $fuse | resources.Minify }}
  <script rel="preload" async src="{{ $FuseJS.Permalink }}"></script>

{{ end }}

{{- if and (.Site.Params.comments) (ne .Params.comments false) (not .IsHome) }}

    {{ $comments := resources.Get "js/comments.js" }}
    {{ $SecureCommentsJS := $comments | resources.Minify | fingerprint }}
    <script rel="preload" async src="{{ $SecureCommentsJS.Permalink }}" integrity="{{ $SecureCommentsJS.Data.Integrity }}"></script>

{{- end }}
