/* list.html homepage.css
-------------------------------------------------- */

/** home-info.html
-------------------------------------------------- **/
.home-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: var(--gap) var(--gap) 0 var(--gap);
    max-width: var(--main-width);
    width: auto;
}
.home-info .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.home-info .entry-header h2 {
    font-size: 1.7708em;
    margin: var(--gap-small) 0;
}
.home-info .entry-content {
    margin: var(--gap-small) 0;
    font-size: var(--font-size-menu);
    -webkit-line-clamp: 3;
}
.home-info .entry-footer {
    font-size: var(--font-size-classic);
}
.home-info .entry-content {
    -webkit-line-clamp: 5;
}

/** introducart
-------------------------------------------------- **/
.introducart{
    margin: var(--gap);
    max-width: var(--main-width);
    width: auto;
    padding: calc(var(--gap)/3);
    border: var(--border-width) solid var(--content);
    cursor: pointer;
}
.introducart .page-link:hover{
    font-weight: bolder;
}
.introducart a.active {
    font-weight: 500;
    border-bottom: calc(var(--border-width)*2) solid currentColor;
}

/** post-entry
-------------------------------------------------- **/
.post-entry {
    position: relative;
    max-width: var(--main-width);
    width: auto;
    background: var(--theme);
    transition: transform 0.1s;
    margin: 0 var(--gap) var(--gap) var(--gap);
    padding: 0.2083em 0.2083em 0.2083em 0.2083em;
}
.post-entry div{
    display: inline-flex;
    justify-content: flex-start;
	flex-wrap: wrap;
}

/*** post-entry-content-left
-------------------------------------------------- ***/
.post-entry-content-left{
    text-align: center;
    margin:0;
}
.post-entry-content-left img{
    border-radius: var(--radius);
    pointer-events: none;/*
    max-height: 15.625em;*/
    max-width: 15.625em;
    height: auto;
    width: auto;
    
}

img.cover {object-fit: cover; }

.post-entry:active {
    transform: scale(0.96);
}

/*** post-entry-content-right 
-------------------------------------------------- ***/
.post-entry-content-right {
    text-align: left;
    vertical-align: top;
    max-width: 50%;
    flex-direction: column;
    row-gap: var(--gap);
    margin: 0 0 0 var(--gap);

    
}
.entry-header h2 {
    font-size: 1.5em;
}
.entry-isdraft {
    color: var(--content);
    font-size: var(--font-size-classic);
}
.entry-content {
    color: var(--content);
    font-size: var(--font-size-classic);
        white-space: normal;
}
.entry-taxonomies {
    color: var(--content);
    font-size: var(--font-size-classic);
}
.entry-footer {
    color: var(--content);
    font-size: var(--font-size-classic);
    display: inline-flex;
    flex-direction: row;
}

/*** other 
-------------------------------------------------- ***/
.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 calc(var(--border-width)*5) var(--content);
    border-radius: var(--radius);/*
    border-style: calc(var(--border-width)*5) solid var(--content);*/
}

/* end of post-entry */

/*** pagination
-------------------------------------------------- ***/
.pagination {
    display: flex;
    max-width: var(--main-width);
    width: auto;
    margin: 0 var(--gap) 0 var(--gap);
}
.pagination a {
    color: var(--theme);
    font-size: var(--font-size-classic);
    line-height: 1.875em;
    background: var(--content);
    border-radius: var(--radius);
    padding: 0 0.91em;
}
.pagination a:hover{
    font-weight: bolder;
}
.pagination .next {
    margin-inline-start: auto;
}

/* <Mobile>
-------------------------------------------------- */
@media screen and (max-width: 630px) {
    .post-entry div{
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: var(--gap);
        width: 100%;
    }
    .post-entry img{
        width: 100%; /* for img */
    }
    .post-entry-content-right{
        margin: 0;
        padding-top: var(--gap);
        max-width: 100%;
    }
    .pagination{
        margin: 0 var(--gap) 0 var(--gap);
    }
}