{{ define "main" }}
<!-- Affiche toutes les catégories et le nombre de post pour chacune d'entre elle -->
<div class="container">
    <h1 class="text-white font-125 text-center">Catégories</h1>
    {{ range .Data.Terms.Alphabetical }}
    <div class="col-8 container">
        <p class="font-125 text-justify text-align-left text-success">
        <a style="colors: #04B104" class="text-success font-weight-bold h5" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        <span class="float-right font-weight-bold h5">{{ .Count }}</span>
        </p>
    </div>   
    {{ end }}
</div>
{{ end }}