RewriteEngine On

# Prevent browsers from incorrectly detecting non-scripts as scripts.
Header append X-Content-Type-Options: nosniff
# Prevent click-jacking attacks.
Header append X-Frame-Options: DENY
# Prevent reflected cross-site scripting (XSS) attacks.
Header append X-XSS-Protection: 1; mode=block
# Controls how much referrer information should be included with requests.
Header append Referrer-Policy: strict-origin
# Content-Security-Policy by https://github.com/april/laboratory
Header append Content-Security-Policy: default-src 'none'