
/* Styles for Staticman de lespace commentaire
-----------------------------------------------------------------------------------------------------*/
/* Bouton pour ouvrir l'espace commentaire */
#staticman-button{
    color: var(--content);
    margin-top: var(--gap);
    border: 1px solid var(--tertiary);
    padding-inline-start: var(--radius);
    border-radius: var(--radius);
    display: flex;
    overflow-x: auto;
}
#staticman-button {
    width: 100%;
    padding: 0.25em 0.75em;
    margin-bottom: 1rem;
}
/* Section staticman-comments Ou js-comments */
#staticman-comments {
    display: none; 
}
.staticman-comments {
    color: var(--content);
    margin-bottom: 2rem;
}
/* Article seul */
.static-comment{
    color: var(--content);
    margin-top: var(--gap);
    border: 1px solid var(--tertiary);
    padding-inline-start: var(--radius);
    border-radius: var(--radius);
    display: flex;
    overflow-x: auto;
}
/* Article auteur + content + date */
.staticman-comments .comment-author, .comment-content, .comment-timestamp {
    margin-top: 0;
    color: var(--content);
    font-size: 16px;
    line-height: 1.6;
}
.staticman-comments article{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}
.staticman-comments .comment-author {
    grid-column: 1;
    grid-row: 1;
}
.staticman-comments .comment-timestamp {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    margin-right: 5px;
}
.staticman-comments .comment-content{
    margin-top: 0.5rem;
    grid-column: 1/3;
    grid-row: 2;
}
.staticman-comments .comment-content p {
    padding: 5px 1rem 5px 1rem;
}
/* Formulaire */
.js-form{
    color: var(--content);
    margin-top: var(--gap);
    border: 1px solid var(--tertiary);
    padding-inline-start: var(--radius);
    border-radius: var(--radius);
    display: flex;
    overflow-x: auto;
}
fieldset {
    border:none;
}
/* les Inputs du Formulaire (pseudo+jscaptcha) */
.staticman-comments input {
    color: var(--content);
    border: 1px solid var(--tertiary);
    padding: 4px 5px;
    width: 100%;
    font-family:inherit;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
/* Les placeholder ^^ */
.js-form input::placeholder{
    color: var(--primary);
}
.js-form textarea::placeholder{
    color: var(--primary);
}
/* le textarea du formulaire (comment) */
.staticman-comments textarea {
    color: var(--content);
    border: 1px solid var(--tertiary);
    padding: 4px 5px;
    vertical-align: top;
    height: 10em;
    width: 100%;
    font-family:inherit;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
/* label et bouton */
.staticman-comments label, .staticman-comments button {
    margin-top: 0.5rem;
    font-size: 0.85rem;
}
/* warning comment ouput */
#warningComment{
    color: var(--content);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: block;
    font-family:inherit;
    font-size: 0.85rem;
}
/* bouton envoyer */
#submitButton{
    color: var(--content);
}
/* post envoi du commentaire  aside note + section id thankyou + p*/
.note{
    color: var(--content);
}
.comment-merci{
    color: var(--content);
    display: flex;
    overflow-x: auto;
    width: 100%;
    padding: 0.25em 0.75em;
    margin-bottom: 1rem;
}

/* Anti-Spam limite d'essai atteinte css*/
.jCaptcha.disabled~.button {
    cursor: not-allowed;
}
/* JS NoScript Message*/
.no-script-text{
    color: var(--content);
    margin-top: var(--gap);
    border: 1px solid var(--tertiary);
    padding-inline-start: var(--radius);
    border-radius: var(--radius);
    display: flex;
    overflow-x: auto;
    width: 100%;
    padding: 0.25em 0.75em;
    margin-bottom: 1rem;
}