/* Post single
-------------------------------------------------- */
.entry-cover{
  text-align: center;
  margin-bottom: var(--gap);
  font-size: 14px;
  color: var(--secondary);
}
.post-header {
    margin: 24px auto var(--content-gap) auto
}
.post-title {
    margin-bottom: 2px;
    font-size: 40px;
    transform: translateX(-2px);
}
.post-meta {
    color: var(--primary);
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}
.post-meta a{
    color: var(--primary);
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}
.post-meta .i18n_list li {
    display: inline-flex;
    list-style: none;
    margin: auto 3px;
    box-shadow: 0 1px 0 var(--primary);
}
.post-content {
    color: var(--content);
}
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 24px 0 16px 0;
}
.post-content h1 {
    margin: 40px auto 32px auto;
    font-size: 40px;
}
.post-content h2 {
    margin: 32px auto 24px auto;
    font-size: 32px;
    margin-left: 1%;
}
.post-content h3 {
    font-size: 24px;
    margin-left: 2%;
}
.post-content h4 {
    font-size: 16px;
    margin-left: 3%;
}
.post-content h5 {
    font-size: 14px;
    margin-left: 4%;
}
.post-content h6 {
    font-size: 12px;
    margin-left: 4%;
}
/* liens dans le contenu des articles, soulignage*/
.post-content a {
    text-decoration: underline;
}
.post-content a:hover{
    font-weight: bolder;
}
/* ET (en plus) sur tablette ou smartphone, ajout d'un espace -> Tap targets are not sized appropriately */
@media screen and (max-width: 700px) {
.post-content p a{
    padding-bottom: 8px;
}
}

.post-content a code {
    margin: auto 0;
    border-radius: 0;
    box-shadow: 0 -1px 0 var(--primary) inset;
}

.post-content del {
    text-decoration: none;
    background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0 50% / 1px 1px repeat-x;
}

.post-content p,
.post-content ul,
.post-content ol,
.post-content dl {
    margin-bottom: var(--content-gap);
}

.post-content ul,
.post-content ol {
    padding-inline-start: 20px;
}

.post-content li {
    margin-top: 5px;
}

.post-content li p {
    margin-bottom: 0;
}

.post-content dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.post-content dt {
    width: 25%;
    font-weight: 700;
}

.post-content dd {
    width: 75%;
    margin-inline-start: 0;
    padding-inline-start: 10px;
}

.post-content dt~dt,
.post-content dd~dd {
    margin-top: 10px;
}

.post-content table {
    margin-bottom: 32px;
    margin-top: 32px;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    width: 100%;
    max-width: 100%;
}

.post-content table th,
.post-content table:not(.highlighttable) td {
    min-width: 80px;
    padding: 12px 8px;
    line-height: 1.5;
    border: 1px solid var(--secondary);
}

.post-content table th {
    font-size: 14px;
    text-align: start;
}

.post-content table:not(.highlighttable) td code:only-child {
    margin: auto 0;
}

.post-content .highlight,
.post-content pre {
    margin: auto calc(var(--gap) * -1) 32px calc(var(--gap) * -1);
    background: var(--hljs-bg) !important;
    border-radius: var(--radius);
}

.post-content li>.highlight {
    margin-inline-end: 0
}

.post-content ul pre {
    margin-inline-start: calc(var(--gap) * -2);
}

.post-content .highlight pre {
    margin: 0;
}

/* table */
.post-content .highlighttable {
    table-layout: fixed;
}

.post-content .highlighttable td:first-child {
    width: 40px;
}

.post-content .highlighttable td .linenodiv {
    padding-inline-end: 0 !important;
}

.post-content .highlighttable td .linenodiv pre,
.post-content .highlighttable td .highlight {
    margin-bottom: 0;
}

.post-content .highlighttable td .highlight pre code::-webkit-scrollbar {
    display: none;
}

/* inline */
.post-content .highlight span {
    background: transparent !important;
}

.post-content code {
    margin: auto 4px;
    padding: 4px 6px;
    font-family: Menlo, Monaco, 'Courier New', Courier, monospace;
    font-size: 0.78em;
    line-height: 1.5;
    background: var(--code-bg);
    border-radius: 2px;
}

.post-content pre code {
    display: block;
    margin: auto 0;
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    border-radius: 0;
    overflow-x: auto;
}

.post-content blockquote {
    margin: 0 calc(var(--gap) * -1);
    padding: 0 32px;
    border-inline-start: 2px solid var(--primary);
}

.post-content hr {
    margin: 30px calc(var(--gap) * -1);
    height: 2px;
    background: var(--tertiary);
    border-top: 0;
    border-bottom: 0;
}

.post-content iframe {
    max-width: 100%;
}

.post-content img {
    border-radius: 4px;
}

/* Table Of Contents */
.toc {
    margin-bottom: 40px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: .5em;
}
.toc details summary {
    cursor: zoom-in;
    margin-inline-start: 20px;
}
.toc details[open] summary {
    cursor: zoom-out;
}
.toc .details {
    display: inline;
    font-weight: 500;
}
.toc .details:hover{
    font-weight: bolder;
}
.toc blockquote {
    margin: 0 20px;
    padding: 10px 20px;
}
.toc li ul {
    margin-inline-start: var(--gap);
}
.toc a:hover{
    font-weight: bolder;
}

/* PagiNavLinks */
.paginav {
    color: var(--content);
    margin-top: var(--gap);
    border: 1px solid var(--tertiary);
    border-radius: var(--radius);
    display: flex;
    line-height: 30px;
}
.paginav a {
    padding: 10px;
}

.paginav .title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: small;
    color: var(--secondary);
}
.paginav a:hover {
    background: var(--border)
}
.paginav .prev,
.paginav .next {
    width: 50%;
}
.paginav span:not(.title) {
    box-shadow: 0 1px 0;
}
.paginav .next {
    margin-inline-start: auto;
    text-align: right;
}
[dir="rtl"] .paginav .next {
    text-align: left;
}
.paginav span:hover:not(.title) {
    font-weight: bolder;
}

/*share buttons*/
.share-buttons {
    margin-top: var(--gap);
    border: 1px solid var(--tertiary);
    padding-inline-start: var(--radius);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-buttons a {
    margin-top: 10px;

}

.share-buttons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.share-buttons a svg {
    height: 30px;
    width: 30px;
    fill: currentColor;
    transition: transform 0.2s;
}

.share-buttons svg:hover {
    transform: scale(1.08);
}

@media screen and (max-width: 600px) {
    .post-content blockquote {
        margin: 0 calc(var(--gap) * -1);
        padding: 0 21px;
    }
}

/* Shortcodes Start */

/* iframepdf.html */
.iframepdf{
	width: 100%;
	height: 350px;
	margin-top: 1%;
	margin-bottom: 1%;
}

/*
    <figure>
----------------------------------------------------------------------------------------*/
.post-content figure{
    max-width: 100%;
    height: auto;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.post-content figure p{
    font-size: .8em;
    font-style: italic;
}

.post-content figure.left{
    float: left;
    margin-right: 1.5em;
    max-width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.post-content figure.right{
    float: right;
    margin-left: 1.5em;
    max-width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.post-content figure.big{
    max-width: 100vw;
}

.post-content img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 4px;
}

/*   < tabs >
---------------------------------------------------------------------------------------------*/

.book-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--border);
    border-radius: var(--radius);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.book-tabs label{
    display: inline-block;
    cursor: pointer;
    margin: 7px;
    padding: 8px 16px;
    text-align: center;
    transition-duration: 0.4s;
    color: var(--content);
    font-size: 14px;
    line-height: 34px;
    background: var(--theme);
    border-radius: var(--radius);
    border: 2px solid var(--tertiary);
}

.book-tabs .book-tabs-content {
    order: 999;
    width: 100%;
    border-top: 1px solid var(--border);
    padding: 16px;
    display: none;
}

.book-tabs input[type="radio"]{
    display: none;
}

.book-tabs input[type="radio"]:checked + label{
    background: var(--secondary);
    color: var(--theme);
    border: 2px solid var(--tertiary);
    border-radius: var(--radius);
}
.book-tabs input[type="radio"]:checked + label + .book-tabs-content {
    display: block;
}

/*
       < columns >
*/
.book-columns {
    margin-left: 5px;
    margin-right: 5px;
}

.book-columns div {
    margin: 5px;
    min-width: 100px;
    padding: 1px;
    text-align: left;
}

/*
       < expand "Label" "icon" >
*/
.book-expand {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid grey;
    border-radius: 4px;
    overflow: hidden;
}
.book-expand .book-expand-head {
    background: grey;
    padding: 8px 16px;
    cursor: pointer;
}
.book-expand .book-expand-content {
    display: none;
    padding: 16px;
}
.book-expand input[type="checkbox"]{
    display: none;
}
.book-expand input[type="checkbox"]:checked + .book-expand-content {
    display: block;
}
/* Add Code copy buttons css */
.highlight{
    position: relative;
}
.highlight .highlight-copy-btn {
    position: absolute;
    top: 3%;
    right: 5%;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.8em;
    line-height: 1.8;
    color: white;
    opacity: 0.6;
    min-width: 55px;
    text-align: center;
    cursor:pointer;
}
.highlight .highlight-copy-btn:hover {
    font-weight: bolder
}
/* Buttons.html */
.sample-btn{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 7px;
    padding: 8px 16px;
    text-align: center;
    transition-duration: 0.4s;
    color: var(--content);
    font-size: 14px;
    line-height: 34px;
    background: var(--theme);
    border-radius: var(--radius);
    border: 2px solid var(--tertiary);
}
.sample-btn:hover{
    background: var(--border);
}
/* youtube.html */
.video-responsive {
	margin-top: 10px;
	margin-bottom: 10px;
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.video-responsive iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}
/* abbr, sub, sup, kbd, mark
--------------------------------------------------------- */
.post-single kbd {
    border-radius: 2px;
    padding: 5px;
    border: 1px solid var(--primary);
}
.post-single kbd kbd{
    padding: 2px;
}

.post-single mark {
    background-color: var(--content) !important;
    color: var(--entry);
    padding: 3px;
}
/* Mobile */
/* écran < 600 */
@media screen and (max-width: 600px) {
  .book-columns {
      margin-left: 2.5px;
      margin-right: 2.5px;
  }
  .book-columns div {
      margin: 2.5px;
      min-width: 50%;
      padding: 1px;
      text-align: left;
  }
}
