<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<!-- En-tête -->
    {{ partial "head.html" .}}
<!-- Corps de la page-->
<body class="bg-dark text-courier">
<!-- Barre de navigation-->
    {{ partial "nav.html" .}}
<!--- Bouton retour vers le haut de la page-->
    {{ partial "scrolltotopbutton.html" .}}
<!--Corps de texte.
Dépends du dossier. 
Chaque /dossier/ dans l'Url correspond a un dossier dans layouts -->
    {{- block "main" . }}{{- end }}
<!-- Pied de page-->
    {{- partial "footer.html" . -}}
</body>
</html>
