{{ define "main" }}
<div class="container">
    <div id="" class="hoverable p-3 jumbotron bg-dark text-white text-justify">
      <h1 class="text-center">{{ .Title }}</h1>
      <p class="font-125 text-justify">{{ .Content }}</p>
    </div>
    <div class="card bg-dark text-white hoverable p-3 m-3" >
      {{ partial "postmeta.html" .}}
    </div>
    <div class="card bg-dark text-white hoverable p-3 m-3" >
      {{ partial "nav-posts.html" .}}
    </div>
    <div class="card bg-dark text-white hoverable p-3 m-3" >
      {{ partial "comments.html" .}}
    </div>
</div>
{{ end }}