{{ define "main" }}
<!--- Les Archives -->
<div class="container">
  <div class="page-classic">
    <h1 class="text-white">Archives</h1>
    {{ $paginator := .Paginate (where (where .Site.Pages ".Section" "posts") "Kind" "page") }}
    {{ range first 15 $paginator.Pages }}
    <p class="text-courier text-white">{{ .Date | dateFormat "2" }}&nbsp;{{ .Date | dateFormat "Jan" }}&nbsp;{{ .Date | dateFormat "2006"}}&nbsp;-&nbsp;<a class="text-white article-link-simple" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a> </p>
    {{ end }}
  </div>
  <div class="page-classic text-center">
<!-- Pagination simple-->
  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    {{ if .Paginator.HasPrev }}
    <div class="pagination-item row">
        <a class="pagination-link bg-light text-dark text-courier" href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">Précédent</a>
    </div>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <div class="pagination-item row">
        <a class="pagination-link bg-light text-dark text-courier" href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">Suivant</a>
    </div>
    {{ end }}
{{ end }}
  </div>
</div>
{{ end }}