{{ define "main" }}

<h1>Bonjour 👋</h1>

<p>
Bienvenue sur mon blog
</p>
<br/>

<h1>Articles récents</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 5 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "2 January 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
              <p style="text-align: justify;"> {{ .Summary }}</p>  
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}