<head>
    <meta content-type="text/html, application/xml" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    <!-- Balise Meta Simple-->
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />{{ with .Site.Params.keyword }}
    <meta name="keywords" content="{{ . }}" />{{ end }}
    <meta name="Language" CONTENT="{{ .Site.Params.languageCode }}" />
    <meta name="robots" content="index,follow" />
    <meta name="copyright" content="© subversive.eu 2020" />
    <meta name="publisher" content="Subversive" />
    <!-- Canonical-->
    <link rel="canonical" href="{{ .Permalink }}" />
    <!--- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!--- Les Scripts-->
    <script src="/js/jquery-3.5.1.min.js"></script> <!-- 3.5.1-->
    <script src="/bootstrap/js/bootstrap.min.js"></script> <!--- 4.5.2-->
    <!--- Favicon  -->
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <!-- Schema.org    -->
    <script type="application/ld+json">
        {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Subversive",
        "url": "https://www.subversive.eu",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "{search_term_string}",
            "query-input": "required name=search_term_string"
        }
        }
    </script>


</head>