
<nav class="navbar bg-dark sticky-top">
  <div class="navbar-left">
<!-- Accueil -->
<a href="{{ .Site.BaseURL }}" class="navbar-brand c-svg-grey"><img src="/images/logo.png" height="28" alt="Ethnos"></a>
<!-- Info -->
<a class="navbar-brand c-svg-yellow" href="{{ .Site.BaseURL }}/apropos/" name="Info"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" > <circle cx="12" cy="12" r="10" /> <line x1="12" y1="16" x2="12" y2="12" /> <line x1="12" y1="8" x2="12.01" y2="8" /> </svg> </a>
<!--- Catégorie -->
<a class="navbar-brand c-svg-green" href="{{ .Site.BaseURL }}/categories/" name="Catégorie"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7.01" y2="7"></line></svg></a>
<!-- Archives -->
<a class="navbar-brand c-svg-white" href="{{ .Site.BaseURL }}/archives/" name="Archive"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-archive"><polyline points="21 8 21 21 3 21 3 8"></polyline><rect x="1" y="3" width="22" height="5"></rect><line x1="10" y1="12" x2="14" y2="12"></line></svg></a>
<!-- Flux RSS -->
<a class="navbar-brand c-svg-grey" rel="noopener noreferrer" target="_blank" href="{{ .Site.BaseURL | safeHTML }}posts/index.xml" name="Flux RSS"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg> </a>
<!-- My Github link -->
<a class="navbar-brand c-svg-grey" rel="noopener noreferrer" target="_blank" href="https://github.com/subversive-eu/site" name="Github"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a>
<!-- Changement de thème -->
</div>

  <div class="navbar-right">
<!-- subversive.eu -->
<a class="navbar-brand c-svg-grey">subversive.eu</a>
  </div>
</nav>