<!-- Date + Catégorie-->
<div class="div-carte-preview">
{{ .Lastmod.Format ( .Site.Params.dateformat | default "2 Jan 2006") }}
    {{ if .Params.categories }}
    {{ range .Params.categories }}
<a rel="noopener noreferrer" class ="text-success" href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}/">{{ . }}</a>&nbsp;
    {{ end }}
    {{ end }}
</div>
<div class="div-carte-preview">
  <!-- Titre -->
  <a rel="noopener noreferrer" class="text-info no-deco" href="{{ .Permalink }}">
    <h2>{{ .Title }}</h2>
  </a>
</div>
{{ if .Truncated }}
<p class="div-carte-preview">
  <!-- Post-introduction-->
{{ .Summary }}
</p>
<p class="div-carte-preview">
  <!-- link read more-->
  <a class="" rel="noopener noreferrer" href="{{ .Permalink }}"><button type="button" class="btn-lire-article">Lire l'article</button></a>
</p>
{{ end }}
<div class="div-carte-preview">
  <!-- postmeta-->
  {{ partial "postmeta.html" . }}
</div>
