RewriteEngine On

# Prevent browsers from incorrectly detecting non-scripts as scripts.
Header add X-Content-Type-Options: nosniff
# Prevent click-jacking attacks.
Header add X-Frame-Options: DENY
# Prevent reflected cross-site scripting (XSS) attacks.
Header add X-XSS-Protection: 1; mode=block
# Controls how much referrer information should be included with requests.
Header add Referrer-Policy: no-referrer
# Content-Security-Policy by https://github.com/april/laboratory
Header add Content-Security-Policy: default-src 'none'