{{- if or .Params.author .Site.Params.author }}
{{- $author := (.Params.author | default .Site.Params.author)}}
{{- $author_type := (printf "%T" $author) }}
{{- if (or (eq $author_type "[]string") (eq $author_type "[]interface {}") ) }}
{{- (delimit $author ", " ) }}
{{- else }}
<p class="post-meta-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
	<span itemprop="name">{{- $author }} </span>
	<span itemprop="url" id="no-display">{{ .Site.BaseURL }}</span>
</p>

{{- end }}
{{- end -}}
