{{- $scratch := newScratch}}

{{- if not .Date.IsZero -}}
{{.Date.Day}} {{index $.Site.Data.moisnumero (printf "%d" .Date.Month)}} {{.Date.Year}} &nbsp;·&nbsp;
{{- end -}}

{{- if $.Site.Params.ShowReadingTime -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%s min" .ReadingTime))) }}
{{- end -}}

{{ with (partial "author.html" . ) }}
{{ $scratch.Add "meta" (slice .) }}
{{end}}

{{ with (partial "pdf.html" . ) }}
{{ $scratch.Add "meta" . }}
{{ end }}

{{ with (partial "taxonomies.html" . ) }}
{{ $scratch.Add "meta" . }}
{{ end }}

{{- with ($scratch.Get "meta")}}
{{- delimit . "&nbsp;·&nbsp;"}}
{{- end }}
