{{ if .Params.tags }}
{{- $tags := .Params.Taxonomies.tag | default "tags"}}
{{- range ($.GetTerms $tags) }}
&nbsp;·&nbsp;
<a class="pdf-link-post-single" href="/tags/{{ .LinkTitle }}/" title="{{ .LinkTitle }}">{{ .LinkTitle }}</a>
{{- end }}
{{ end }}

{{ if .Params.categories }}
{{- $categories := .Params.Taxonomies.category | default "categories"}}
{{- range ($.GetTerms $categories) }}
&nbsp;·&nbsp;
<a class="pdf-link-post-single" href="/categories/{{ .LinkTitle }}/" title="{{ .LinkTitle }}">{{ .LinkTitle }}</a>
{{- end }}
{{ end }}


{{ if .Params.series }}
{{- $series := .Params.Taxonomies.serie | default "series"}}
{{- range ($.GetTerms $series) }}
&nbsp;·&nbsp;
<a class="pdf-link-post-single" href="/series/{{ .LinkTitle }}/" title="{{ .LinkTitle }}">{{ .LinkTitle }}</a>
{{- end }}
{{ end }}
