<script type="application/ld+json">

    {{ if eq .Section "posts" }}
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": {{ .Title }},
      "image": {{ .Params.images | absURL }},
      "datePublished": {{ .PublishDate }},
      "dateModified": {{ .Lastmod }},
      "author": {
        "@type": "Person",
        "name": {{ .Site.Params.author }}
      },
      "mainEntityOfPage": { "@type": "WebPage" },
       "publisher": {
        "@type": "Organization",
        "name": {{ .Site.Params.header }},
        "logo": {
          "@type": "ImageObject",
          "url": {{ .Site.Params.logo }}
        }
      },
      "description": {{ .Summary | plainify | safeHTML }},
      "keywords": [{{ range $i, $e := .Params.categories }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]
    }
    {{ else }}
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": {{ .Site.Params.header }},
      "url": {{ .Site.BaseURL }},
      "sameAs": [
        "https://twitter.com/{{ .Site.Params.twitter }}",
        "https://github.com/{{ .Site.Params.github }}/{{ .Site.Params.githubreposit }}"
  
      ],
      "@graph": 
      [
          {
              "@context": "https://schema.org",
              "@type":"SiteNavigationElement",
              "name": "A propos",
              "description": "A propos du blog",
              "url": "https://www.subversive.eu/apropos/"
          },
          {
              "@context": "https://schema.org",
              "@type":"SiteNavigationElement",
              "name": "Catégorie",
              "description": "Articles classés par catégorie",
              "url": "https://www.subversive.eu/categories"
          },
          {
              "@context": "https://schema.org",
              "@type":"SiteNavigationElement",
              "name": "Archives",
              "description": "Tous les articles classés par date de publication",
              "url": "https://www.subversive.eu/archives/"
          },
      ]
  }
{{ end }}
    </script>