/* Archive
-------------------------------------------------- */
.archive-posts {
    width: 100%;
    font-size: 0.88rem; /* 16px*/
}
.archive-year {
    margin-top: calc(var(--gap) * 1.6666); /*40px*/
}
.archive-year:not(:last-of-type) {
    border-bottom: var(--border-width) solid var(--content);
}
.archive-month {
    display: flex;
    align-items: flex-start;
    padding: 0.55rem 0; /*10px*/
}
.archive-month-header {
    margin: 1.388rem 0; /*25px*/
    width: 11.11rem; /*200px*/
}
.archive-month:not(:last-of-type) {
    border-bottom: 0.05rem solid var(--content); /*1px*/
}
.archive-entry {
    position: relative;
    padding: 0.27rem; /*5px*/
    margin: 0.55rem 0; /*10px*/
}
.archive-entry-title {
    margin: 0.27rem 0; /*5px*/
    font-weight: 400;
}
.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.archive-meta {
    color: var(--content);
    font-size: 0.;
}
.archive-meta a{
    color: var(--content);
    font-size: 0.77rem;/*14px*/
}
.archive-count {
    color: var(--content);
    font-size: 0.77rem;/*14px*/
}
@media (max-width: 44.44rem) { /*800px*/
    .archive-month {
        flex-direction: column;
    }
    .archive-year {
        margin-top: 1.11rem;/*20px*/
    }
}
