/* Archive
-------------------------------------------------- */
.archive-posts {
    width: 100%;
    font-size: 1.35vw; /*16px;*/
}
.archive-year {
    margin-top: 2.599vw; /*40px;*/
}
.archive-year:not(:last-of-type) {
    border-bottom: 2px solid var(--content);
}
.archive-month {
    display: flex;
    align-items: flex-start;
    padding: 0.5vw 0;
}
.archive-month-header {
    margin: 2.25vw 0;
    width: 15vw;
}
.archive-month:not(:last-of-type) {
    border-bottom: 1px solid var(--content);
}
.archive-entry {
    position: relative;
    padding: 0.4vw;
    margin: 0.75vw 0;
}
.archive-entry-title {
    margin: 0.2vw 0;
    font-weight: 400;
}
.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.archive-meta {
    color: var(--content);
    font-size: 1.05vw;
}
.archive-meta a{
    color: var(--content);
    font-size: 1.05vw;
}
.archive-count {
    color: var(--content);
    font-size: 1.05vw;
}
