/* Archive
-------------------------------------------------- */
.archive-posts {
    width: 100%;
    font-size: calc(1.35vw * var(--coef-screen)); /*16px;*/
}
.archive-year {
    margin-top: calc(2.599vw * var(--coef-screen)); /*40px;*/
}
.archive-year:not(:last-of-type) {
    border-bottom: 2px solid var(--content);
}
.archive-month {
    display: flex;
    align-items: flex-start;
    padding: calc(0.5vw * var(--coef-screen)) 0;
    width: 100%;
}
.archive-month-header {
    margin: calc(2.25vw * var(--coef-screen)) 0;
    font-size: calc(1.5vw * var(--coef-screen));
    width: 27.5%;
}
.archive-month:not(:last-of-type) {
    border-bottom: 1px solid var(--content);
}
.archive-entry {
    position: relative;
    padding: calc(0.4vw * var(--coef-screen));
    margin: calc(0.75vw * var(--coef-screen)) 0;
}
.archive-entry:hover{
    font-weight: bold;
}
.archive-entry-title {
    margin: calc(0.2vw * var(--coef-screen)) 0;
    font-weight: 400;
}
.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.archive-meta {
    color: var(--content);
    font-size: calc(1.05vw * var(--coef-screen));
}
.archive-meta a{
    color: var(--content);
    font-size: calc(1.05vw * var(--coef-screen));
}
.archive-count {
    color: var(--content);
    font-size: calc(1.05vw * var(--coef-screen));
}
@media screen and (max-width: 600px) {
  .archive-month-header {
      margin: 2.25vw 0;
      width: 40%;
  }
}
