/* Main
-------------------------------------------------- */
.main {
    position: relative;
    max-width: var(--main-width);
    margin: auto;
    padding: calc(var(--gap) * var(--coef-screen));
}
/* Add css tricks
------------------------------------------------------------------------- */
.flex{
	display:flex;
}
.flex-even{
	flex:1 1;
}
.flex-wrap{
	flex-wrap:wrap;
}
.justify-between{
	justify-content:space-between;
}
.justify{
    text-align: justify;
}
.btn-right{
	float: right;
}
:target {
	margin-top: 25px;
}
/* Header
-------------------------------------------------- */
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: var(--nav-width);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}
.nav a {
    display: block;
}
.menu-left,
.menu {
    display: flex;
    margin: auto calc(var(--gap) * var(--coef-screen));
    flex-wrap: inherit;
}
/* menu-left*/
.menu-left{
  list-style: none;
  word-break: keep-all;
  overflow-x: auto;
  white-space: nowrap;
}
.menu-left li+li {
    margin-inline-start: calc(var(--gap) * var(--coef-screen));
}
.menu-left a {
    font-size: calc(1.5vw * var(--coef-screen)); /*16px*/
}
.menu-left a img{
    height: calc(2.5vw * var(--coef-screen));
    width: calc(2.5vw * var(--coef-screen));
    display: inline;
    vertical-align: middle;
    border-radius: calc(var(--radius) * var(--coef-screen));
}
.menu-left a svg{
    height: calc(2.5vw * var(--coef-screen));
    width: calc(2.5vw * var(--coef-screen));
    cursor: pointer;
    display: inline;
    vertical-align: middle;
}
.menu-left a:hover{
    font-weight: bolder;
    color: var(--content);
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}
body:not(.dark) #sun {
    display: none;
}
.menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}
.menu li+li {
    margin-inline-start: calc(var(--gap) * var(--coef-screen));
}
.menu a {
    font-size: calc(1.5vw * var(--coef-screen)); /*16px*/
}
.menu a:hover{
    font-weight: bold;
    color: var(--content);
}
.menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

/* Footer
-------------------------------------------------- */
.footer {
    width: var(--main-width);
    margin: auto;
    padding: var(--footer-height);
    color: var(--content);
    font-size: calc(1.44vw * var(--coef-screen));
    text-align: center;
}
.footer span {
    margin-inline-start: calc(0.2vw * var(--coef-screen));
    margin-inline-end: calc(0.2vw * var(--coef-screen));
}
.footer a {
    color: inherit;
    border-bottom: 1px solid var(--content);
}
.footer a:hover {
    font-weight: bolder;
}

/* Bouton Haut de page
---------------------------------------------------------------------------*/
.top-link {
    font-size: calc(0.9vw * var(--coef-screen)); /*12px*/
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    z-index: 999;
    background: var(--content);
    width: calc(2.66vw * var(--coef-screen)); /*42px*/
    height: calc(2.66vw * var(--coef-screen));
    padding: 0.21vw;
    color: var(--theme);
    border-radius: calc(var(--radius) * var(--coef-screen));/*64px*/
    fill: currentColor;
    fill-opacity: 80%;
    transition: visibility 0.5s,
    opacity 0.8s linear;
}
.top-link svg{
  font-size: calc(0.66vw * var(--coef-screen));
}
.top-link:hover{
    font-size: bolder;
    padding: calc(0.1vw * var(--coef-screen));
}
/* Mobile
----------------------------------------------------- */
@media screen and (max-width: 500px) {
    .top-link {
      bottom: 20vh;
    }
}
