/* Post entry
-------------------------------------------------- */
.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: calc(var(--gap) * var(--coef-screen));
}
.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.first-entry .entry-header h2 {
    font-size: calc(2.5vw * var(--coef-screen)); /* 34px*/
}
.first-entry .entry-content {
    margin: 14px 0;
    font-size: calc(1.88vw * var(--coef-screen)); /*16px*/
    -webkit-line-clamp: 3;
}
.home-info .entry-content {
    -webkit-line-clamp: 5;
}
.post-entry {
    position: relative;
    margin-bottom: calc(var(--gap) * var(--coef-screen));
    padding: calc(var(--gap) * var(--coef-screen));
    background: var(--theme);
    border-radius: calc(var(--radius) * var(--coef-screen));
    transition: transform 0.1s;
}
.post-entry:active {
    transform: scale(0.96);
}
.post-entry .entry-header h2{
    font-size: calc(1.88vw * var(--coef-screen));
}
.post-entry .entry-content p {
    font-size: calc(1.44vw * var(--coef-screen));
}
.tag-entry .entry-cover {
    display: none;
}
.entry-content p.float-right{
    text-align: right;
}
.entry-content {
    margin: calc(0.3vw * var(--coef-screen)) 0;
    color: var(--content);
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.entry-footer {
    color: var(--content);
    font-size: calc(1.15vw * var(--coef-screen));
    font-style: italic;
}
.entry-footer a{
    color: var(--content);
    font-size: calc(1.15vw * var(--coef-screen));
    font-style: italic;
}
.entry-footer a.sidebar-nav-item:hover{
    font-weight: bold;
    color: var(--content);
}
.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.entry-isdraft {
    display: inline;
    color: var(--content);
    font-size: calc(1.15vw * var(--coef-screen));
}
.entry-cover {
    margin-bottom: calc(var(--gap) * var(--coef-screen));
    text-align: center;
    font-size: calc(1.15vw * var(--coef-screen));
    color: var(--content);
}
.entry-cover img {
    border-radius: calc(var(--radius) * var(--coef-screen));
    pointer-events: none;
    width: 100%;
    height: auto;
}
.entry-cover a {
    color: var(--content);
    box-shadow: 0 1px 0 var(--content);
}
/* page-footer */
.pagination {
    display: flex;
}
.pagination a {
    color: var(--theme);
    font-size: calc(1.44vw * var(--coef-screen));
    background: var(--content);
    border-radius: calc(var(--radius) * var(--coef-screen));
    padding: 0 calc(16px * var(--coef-screen));
}
.pagination a:hover{
    font-weight: bolder;
}
.pagination .next {
    margin-inline-start: auto;
}
