/* Post entry
-------------------------------------------------- */
.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--gap);
}
.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.first-entry .entry-header h2 {
    font-size: 2.5vw; /* 34px*/
}
.first-entry .entry-content {
    margin: 14px 0;
    font-size: 1.88vw; /*16px*/
    -webkit-line-clamp: 3;
}
.home-info .entry-content {
    -webkit-line-clamp: 5;
}
.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--theme);
    border-radius: var(--radius);
    border-style: var(--border-width) solid var(--content);
    border-width: var(--border-width);
    transition: transform 0.1s;
}
.post-entry:active {
    transform: scale(0.96);
}
.post-entry .entry-header h2{
    font-size: 1.88vw;
}
.post-entry .entry-content p {
    font-size: 1.44vw;
}
.tag-entry .entry-cover {
    display: none;
}
.entry-content p.float-right{
    text-align: right;
}
.entry-content {
    margin: 0.3vw 0;
    color: var(--content);
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.entry-footer {
    color: var(--content);
    font-size: 1.15vw;
    font-style: italic;
}
.entry-footer a{
    color: var(--content);
    font-size: 1.15vw;
    font-style: italic;
}
.entry-footer a.sidebar-nav-item:hover{
    font-weight: bold;
    color: var(--content);
}
.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 1px 0 var(--content);
}
.entry-isdraft {
    display: inline;
    color: var(--content);
    font-size: 1.15vw;
}
.entry-cover {
    margin-bottom: var(--gap);
    text-align: center;
    font-size: 1.15vw;
    color: var(--content);
}
.entry-cover img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%;
    height: auto;
}
.entry-cover a {
    color: var(--content);
    box-shadow: 0 1px 0 var(--content);
}
/* page-footer */
.pagination {
    display: flex;
}
.pagination a {
    color: var(--theme);
    font-size: 1.44vw;
    background: var(--content);
    border-radius: var(--radius);
    padding: 0 16px;
}
.pagination a:hover{
    font-weight: bolder;
}
.pagination .next {
    margin-inline-start: auto;
}
