/* Theme
-------------------------------------------------- */
:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --border-width: 2.5px;

    --theme: #D3D3D3;
    --content: rgb(0,43,85);
    --code-bg: #1c1d21;
    --hljs-bg: #1c1d21;
    --hljs-color: rgb(204,204,204);
}

@media screen and (max-width: 600px) {
    :root {
        --gap: 14px;
    }
}

.dark {
  --theme: rgb(0,0,139);
  --content: rgb(162,246,168);
  --code-bg: #00003B;
  --hljs-bg: #2e2e33;
  --hljs-color: rgb(204,204,204);
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
